<template>
  <div class="app-container">
    <!-- 查询条件 -->
    <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
#foreach ($column in $columns)
#if($column.isQuery == "1")
      <el-form-item label="$column.columnComment" prop="$column.javaField">
#if($column.htmlType == "input")
        <el-input
          v-model="queryParams.$column.javaField"
          placeholder="请输入$column.columnComment"
          clearable
          @keyup.enter="handleQuery"
        />
#elseif($column.htmlType == "select")
        <el-select v-model="queryParams.$column.javaField" placeholder="请选择$column.columnComment" clearable>
          <el-option label="全部" value="" />
          <el-option label="是" value="1" />
          <el-option label="否" value="0" />
        </el-select>
#elseif($column.htmlType == "datetime")
        <el-date-picker
          v-model="queryParams.$column.javaField"
          type="datetime"
          placeholder="选择$column.columnComment"
        />
#else
        <el-input
          v-model="queryParams.$column.javaField"
          placeholder="请输入$column.columnComment"
          clearable
          @keyup.enter="handleQuery"
        />
#end
      </el-form-item>
#end
#end
      <el-form-item>
        <el-button type="primary" icon="Search" @click="handleQuery">搜索</el-button>
        <el-button icon="Refresh" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <!-- 操作按钮 -->
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="Plus"
          @click="handleAdd"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="Edit"
          :disabled="single"
          @click="handleUpdate"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="Delete"
          :disabled="multiple"
          @click="handleDelete"
        >删除</el-button>
      </el-col>
      <right-toolbar v-model:showSearch="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <!-- 列表 -->
    <el-table v-loading="loading" :data="$businessName List" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
#foreach ($column in $columns)
#if($column.isList == "1")
#if($column.javaType == "Date")
      <el-table-column label="$column.columnComment" align="center" prop="$column.javaField" width="180">
        <template #default="scope">
          <span>{{ parseTime(scope.row.$column.javaField, '{y}-{m}-{d} {h}:{i}:{s}') }}</span>
        </template>
      </el-table-column>
#elseif($column.htmlType == "imageUpload")
      <el-table-column label="$column.columnComment" align="center" prop="$column.javaField" width="100">
        <template #default="scope">
          <image-preview :src="scope.row.$column.javaField" />
        </template>
      </el-table-column>
#elseif($column.dictType && $column.dictType != '')
      <el-table-column label="$column.columnComment" align="center" prop="$column.javaField">
        <template #default="scope">
          <dict-tag :options="$column.dictType" :value="scope.row.$column.javaField" />
        </template>
      </el-table-column>
#else
      <el-table-column label="$column.columnComment" align="center" prop="$column.javaField" />
#end
#end
#end
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template #default="scope">
          <el-button
            link
            type="primary"
            icon="Edit"
            @click="handleUpdate(scope.row)"
          >修改</el-button>
          <el-button
            link
            type="danger"
            icon="Delete"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 分页 -->
    <pagination
      v-show="total > 0"
      :total="total"
      v-model:page="queryParams.pageNum"
      v-model:limit="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改对话框 -->
    <el-dialog v-model="open" :title="title" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
#foreach ($column in $columns)
#if($column.isEdit == "1" && $column.isPk != "1")
        <el-form-item label="$column.columnComment" prop="$column.javaField">
#if($column.htmlType == "input")
          <el-input v-model="form.$column.javaField" placeholder="请输入$column.columnComment" />
#elseif($column.htmlType == "textarea")
          <el-input v-model="form.$column.javaField" type="textarea" placeholder="请输入$column.columnComment" />
#elseif($column.htmlType == "select")
          <el-select v-model="form.$column.javaField" placeholder="请选择$column.columnComment">
#if($column.dictType && $column.dictType != '')
            <el-option
              v-for="dict in $column.dictType"
              :key="dict.value"
              :label="dict.label"
              :value="dict.value"
            />
#else
            <el-option label="是" value="1" />
            <el-option label="否" value="0" />
#end
          </el-select>
#elseif($column.htmlType == "radio")
          <el-radio-group v-model="form.$column.javaField">
            <el-radio label="1">是</el-radio>
            <el-radio label="0">否</el-radio>
          </el-radio-group>
#elseif($column.htmlType == "checkbox")
          <el-checkbox-group v-model="form.$column.javaField">
            <el-checkbox label="1">是</el-checkbox>
            <el-checkbox label="0">否</el-checkbox>
          </el-checkbox-group>
#elseif($column.htmlType == "datetime")
          <el-date-picker
            v-model="form.$column.javaField"
            type="datetime"
            placeholder="选择$column.columnComment"
          />
#elseif($column.htmlType == "imageUpload")
          <image-upload v-model="form.$column.javaField" />
#elseif($column.htmlType == "fileUpload")
          <file-upload v-model="form.$column.javaField" />
#elseif($column.htmlType == "editor")
          <editor v-model="form.$column.javaField" />
#else
          <el-input v-model="form.$column.javaField" placeholder="请输入$column.columnComment" />
#end
        </el-form-item>
#end
#end
      </el-form>
      <template #footer>
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="submitForm">确 定</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup name="${className}">
import { list${className}, get${className}, del${className}, add${className}, update${className} } from '@/api/${moduleName}/${businessName}'

const ${businessName}List = ref([])
const open = ref(false)
const loading = ref(true)
const showSearch = ref(true)
const ids = ref([])
const single = ref(true)
const multiple = ref(true)
const total = ref(0)
const title = ref('')

const queryParams = ref({
  pageNum: 1,
  pageSize: 10,
#foreach ($column in $columns)
#if($column.isQuery == "1")
  $column.javaField: null,
#end
#end
})

const form = ref({
#foreach ($column in $columns)
#if($column.isEdit == "1")
  $column.javaField: null,
#end
#end
})

const rules = ref({
#foreach ($column in $columns)
#if($column.isRequired == "1")
  $column.javaField: [
    { required: true, message: '$column.columnComment不能为空', trigger: '$column.htmlType == "select" ? "change" : "blur"' }
  ],
#end
#end
})

/** 查询列表 */
function getList() {
  loading.value = true
  list${className}(queryParams.value).then(response => {
    ${businessName}List.value = response.rows
    total.value = response.total
    loading.value = false
  })
}

/** 搜索按钮操作 */
function handleQuery() {
  queryParams.value.pageNum = 1
  getList()
}

/** 重置按钮操作 */
function resetQuery() {
  queryParams.value = {
    pageNum: 1,
    pageSize: 10,
#foreach ($column in $columns)
#if($column.isQuery == "1")
    $column.javaField: null,
#end
#end
  }
  handleQuery()
}

/** 多选框选中数据 */
function handleSelectionChange(selection) {
  ids.value = selection.map(item => item.$pkColumn.javaField)
  single.value = selection.length !== 1
  multiple.value = !selection.length
}

/** 新增按钮操作 */
function handleAdd() {
  reset()
  open.value = true
  title.value = '添加${functionName}'
}

/** 修改按钮操作 */
function handleUpdate(row) {
  reset()
  const ${pkColumn.javaField} = row.$pkColumn.javaField || ids.value
  get${className}(${pkColumn.javaField}).then(response => {
    form.value = response.data
    open.value = true
    title.value = '修改${functionName}'
  })
}

/** 提交按钮 */
function submitForm() {
  // @ts-ignore
  this.\$refs.form.validate(valid => {
    if (valid) {
      if (form.value.$pkColumn.javaField) {
        update${className}(form.value).then(response => {
          ElMessage.success('修改成功')
          open.value = false
          getList()
        })
      } else {
        add${className}(form.value).then(response => {
          ElMessage.success('新增成功')
          open.value = false
          getList()
        })
      }
    }
  })
}

/** 删除按钮操作 */
function handleDelete(row) {
  const ${pkColumn.javaField}s = row.$pkColumn.javaField || ids.value
  ElMessageBox.confirm('是否确认删除${functionName}编号为"' + ${pkColumn.javaField}s + '"的数据项？')
    .then(() => {
      return del${className}(${pkColumn.javaField}s)
    })
    .then(() => {
      getList()
      ElMessage.success('删除成功')
    })
    .catch(() => {})
}

/** 表单重置 */
function reset() {
  form.value = {
#foreach ($column in $columns)
#if($column.isEdit == "1")
    $column.javaField: null,
#end
#end
  }
}

/** 取消按钮 */
function cancel() {
  open.value = false
  reset()
}

getList()
</script>

<style scoped>
.app-container {
  padding: 20px;
}
</style>
