package ${packageName}.entity;

#foreach ($import in $importList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.*;
import com.ruoyi.nocode.common.core.domain.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${functionName}实体类
 * 
 * @author ${author}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${className} extends BaseEntity {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnComment)
    /** $column.columnComment */
#end
#if($column.isPk == "1")
    @TableId(value = "${column.columnName}", type = IdType.AUTO)
#elseif($column.isIncrement == "1")
    @TableId(value = "${column.columnName}", type = IdType.AUTO)
#else
    @TableField("${column.columnName}")
#end
    private ${column.javaType} ${column.javaField};

#end
#if($table.treeCode && $table.treeCode != '')
    
    public Long get${table.treeCode?cap_first}() {
        return this.${table.treeCode};
    }
#end
}
